<template>
  <div id="app">
    <button @click="save">Save</button>
    <VueEditor v-model="text"/>
  </div>
</template>

<script>
import { VueEditor } from "vue2-editor";

export default {
  name: 'app',
  components: {
    VueEditor
  },
  data: function(){
    return{
      text: fmText
    }
  },
  methods: {
    save: function(){
      var urlEncodedText = encodeURIComponent(this.text)
      var url = "fmp18://$/DB%20Services%20-%20FileMaker%20Web%20Apps%20With%20Vue.fmp12?script=save&param=" + urlEncodedText
      console.log(url)
      window.location.href= url
    }
  }
}
</script>

<style scope lang="scss">
button{
  background-color: blue;
}
</style>
